nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: lightcoral;
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.link-style {
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.link-style.logo {
  font-size: 1.6rem;
  color: #444;
}

.list {
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

.list-style {
  text-decoration: none;
}

.badge {
  width: 500px;
  margin: 1.5rem auto;
  background: #eee;
  padding: 1rem 1.5rem;
  text-align: center;
  border-radius: 8px;
}
